body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button:hover{
  background-color: #68B679;
  cursor: pointer;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF4F0;
  padding: 10%;
  margin: 20px 0;
}

.title {
  font-size:4rem;
  font-weight: 300;
  text-align: center;
}
.page-desc{
  font-size: 2rem;
}
.to-products{
  height: 40px;
  width: 200px;
  margin-top: 10px;
}

.btn {
  border-radius: 10px;
  height: 40px;
}
.btn-red {
  background-color: #EA344F;
  font-size: 1rem;
  color: white;
  border: none;
  margin: 10px 0;
}

.btn-md {
  width: 200px;
}

.btn-cart {
  background-color: white;
  border: 1px solid #68B679;
}